$primary: #000000;
$warning: #fcb731;
$white: white;
$secondary: #c6c6c6;
$success: #0db691;
$info: #1c699c;
$danger: #d04848;
$danger-light: #f7e4e4;
$secondary-light: #c6c6c69f;

// font-size
$font-header: 2rem; //32px
$font-title: 1.75rem; //28px
$font-xxl: 1.5625rem; //25px
$font-xl: 1.375rem; //22px
$font-l: 1.25rem; //20px
$font-normal: 1.125rem; //18px
$font-m: 1rem; //16px
$font-sm: 0.875rem; //14px
$font-xs: 0.75rem; //12px
